In [2]:
!cat Yahoo_stock_data.csv

Date,AAPL,IBM,MSFT,GOOG
2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
2010-01-08,20.19270133972168,99.26509094238281,24.38514518737793,299.06488037109375
2010-01-11,20.014568328857422,98.22577667236328,24.074966430664062,298.6128234863281
2010-01-12,19.786903381347656,99.00715637207031,23.915895462036133,293.3321533203125
2010-01-13,20.06600570678711,98.79474639892578,24.138591766357422,291.6481018066406
2010-01-14,19.949796676635742,100.37267303466797,24.623754501342773,293.0191955566406
2010-01-15,19.616390228271484,99.97058868408203,24.544212341308594,288.1260070800781
2010-01-19,20.48418617248535,101.76091766357422,24.735103607177734,291.9114074707031
2010-01-20,20.16888999938965,98.80992889404297,24.3294734954834,288.3296813964844
2010-01-21,19.820241928100586,97.86164855957031,23.868181228637695,289.60638427734375
2010-01-22,18.83718490600586,95.20650482177734,23.03307342529297,273.2279052734375
2010-01-25,19.343957901000977,95.67683410644531,23.31939697265625,268.2552490234375
2010-01-26,19.617345809936523,95.39615631103516,23.462553024291992,269.4574279785156
2010-01-27,19.802146911621094,95.83614349365234,23.597768783569336,269.2984619140625
2010-01-28,18.983882904052734,93.87890625,23.192134857177734,265.418701171875
2010-01-29,18.295169830322266,92.84717559814453,22.412704467773438,263.25775146484375
2010-02-01,18.54950714111328,94.57682800292969,22.59562873840332,264.7878112792969
2010-02-02,18.657150268554688,95.22924041748047,22.635404586791992,263.8439636230469
2010-02-03,18.978166580200195,95.32786560058594,22.770605087280273,268.66259765625
2010-02-04,18.294219970703125,93.30992889404297,22.142290115356445,261.6879577636719
2010-02-05,18.61904525756836,93.70442199707031,22.28545379638672,263.92840576171875
2010-02-08,18.491403579711914,92.87382507324219,22.04684829711914,265.0113525390625
2010-02-09,18.688579559326172,93.88729095458984,22.277498245239258,266.48675537109375
2010-02-10,18.58665657043457,93.5824966430664,22.2615909576416,265.4981994628906
2010-02-11,18.924821853637695,94.2835693359375,22.364988327026367,266.4668884277344
2010-02-12,19.087709426879883,94.48926544189453,22.213871002197266,264.8374938964844
2010-02-16,19.37538719177246,95.42655944824219,22.65335464477539,268.90106201171875
2010-02-17,19.29442024230957,96.26477813720703,22.845130920410156,267.36602783203125
2010-02-18,19.33061981201172,97.39254760742188,23.14876937866211,269.8548583984375
2010-02-19,19.210594177246094,96.92010498046875,22.98895263671875,268.6328125
2010-02-22,19.091524124145508,96.66101837158203,22.95699119567871,269.6462097167969
2010-02-23,18.771461486816406,96.36383819580078,22.63736915588379,265.8061828613281
2010-02-24,19.114389419555664,97.22490692138672,22.87708854675293,264.017822265625
2010-02-25,19.242027282714844,96.82868194580078,22.85311508178711,261.51409912109375
2010-02-26,19.491605758666992,96.89723205566406,22.9090518951416,261.6979064941406
2010-03-01,19.907878875732422,97.9716796875,23.1887264251709,264.6238708496094
2010-03-02,19.89454460144043,97.0953598022461,22.741247177124023,268.7818298339844
2010-03-03,19.940269470214844,96.6838607788086,22.741247177124023,270.8980712890625
2010-03-04,20.07172393798828,96.56195831298828,22.87708854675293,275.50311279296875
2010-03-05,20.85664939880371,96.96581268310547,22.845130920410156,280.28204345703125
2010-03-08,20.869028091430664,96.32573699951172,22.87708854675293,279.4226379394531
2010-03-09,21.24434471130371,95.6704330444336,23.01292610168457,278.2850341796875
2010-03-10,21.417709350585938,95.72378540039062,23.14876937866211,286.36248779296875
2010-03-11,21.48058319091797,97.2325210571289,23.316572189331055,288.69232177734375
2010-03-12,21.585365295410156,97.49163055419922,23.38848304748535,287.8974914550781
2010-03-15,21.322452545166016,97.40778350830078,23.404468536376953,279.7703552246094
2010-03-16,21.38056182861328,98.04788970947266,23.46839714050293,280.7738342285156
2010-03-17,21.34912872314453,97.35444641113281,23.676145553588867,280.9526672363281
2010-03-18,21.399616241455078,97.826904296875,23.660165786743164,281.3699645996094
2010-03-19,21.17099380493164,97.31633758544922,23.64418601989746,278.1906433105469
2010-03-22,21.409137725830078,97.5220947265625,23.652177810668945,276.94873046875
2010-03-23,21.75301742553711,98.5812759399414,23.875913619995117,272.7261657714844
2010-03-24,21.849227905273438,97.9411849975586,23.692129135131836,276.8642578125
2010-03-25,21.590129852294922,98.48222351074219,23.97979736328125,279.621337890625
2010-03-26,21.99497413635254,98.49747467041016,23.700119018554688,279.5269470214844
2010-03-29,22.13690757751465,97.98690032958984,23.64418601989746,279.40771484375
2010-03-30,22.466495513916016,98.12405395507812,23.78801727294922,281.5239562988281
2010-03-31,22.385526657104492,97.72783660888672,23.404468536376953,281.7276306152344
2010-04-01,22.477928161621094,97.72783660888672,23.300582885742188,282.56219482421875
2010-04-05,22.717979431152344,98.5660629272461,23.38848304748535,283.6600646972656
2010-04-06,22.81800651550293,98.24602508544922,23.428442001342773,282.2740783691406
2010-04-07,22.918975830078125,97.9030990600586,23.45240592956543,279.9491882324219
2010-04-08,22.857059478759766,97.24014282226562,23.907878875732422,281.91143798828125
2010-04-09,23.032325744628906,98.11644744873047,24.24348258972168,281.2805480957031
2010-04-12,23.079959869384766,97.81167602539062,24.227497100830078,284.5144958496094
2010-04-13,23.093294143676758,98.32221221923828,24.331375122070312,291.4891357421875
2010-04-14,23.403833389282227,100.01388549804688,24.62703514099121,292.596923828125
2010-04-15,23.711519241333008,99.73954010009766,24.666982650756836,295.7265930175781
2010-04-16,23.566720962524414,99.54144287109375,24.50717544555664,273.2974548339844
2010-04-19,23.53528594970703,100.76062774658203,24.802820205688477,273.2726135253906
2010-04-20,23.29905128479004,98.82512664794922,25.058521270751953,275.7266540527344
2010-04-21,24.692672729492188,98.29171752929688,25.034547805786133,275.35906982421875
2010-04-22,25.383285522460938,98.3984146118164,25.082494735717773,271.762451171875
2010-04-23,25.798603057861328,99.05372619628906,24.73890495300293,270.734130859375
2010-04-26,25.671916961669922,99.61761474609375,24.858755111694336,264.1022644042969
2010-04-27,24.96129608154297,98.16217803955078,24.6510009765625,262.82061767578125
2010-04-28,24.919382095336914,99.1375732421875,24.698944091796875,262.88519287109375
2010-04-29,25.589996337890625,99.4118881225586,24.77086067199707,264.2810974121094
2010-04-30,24.870800018310547,98.29934692382812,24.40329360961914,261.1514587402344
2010-05-03,25.37185287475586,98.75653839111328,24.658992767333984,263.58563232421875
2010-05-04,24.64122772216797,97.62877655029297,24.075681686401367,251.54891967773438
2010-05-05,24.384990692138672,97.12584686279297,23.85194206237793,253.23297119140625
2010-05-06,23.45717430114746,94.912353515625,23.156761169433594,247.7238006591797
2010-05-07,22.467453002929688,93.51837158203125,22.54148292541504,244.97666931152344
2010-05-10,24.19446563720703,96.71223449707031,23.124797821044922,259.1395568847656
2010-05-11,24.43547248840332,97.18711853027344,23.07684898376465,252.88026428222656
2010-05-12,24.9660587310791,101.62178039550781,23.524330139160156,251.0620880126953
2010-05-13,24.610742568969727,100.70267486572266,23.364517211914062,253.7893524169922
2010-05-14,24.178279876708984,100.4805908203125,23.11680793762207,252.1251678466797
2010-05-17,24.216379165649414,99.9061508178711,23.124797821044922,252.34375
2010-05-18,24.039201736450195,99.53082275390625,22.956235885620117,247.57476806640625
2010-05-19,23.656267166137695,98.69599914550781,22.667268753051758,245.61749267578125
2010-05-20,22.648441314697266,94.82044982910156,21.760265350341797,235.97024536132812
2010-05-21,23.08281707763672,96.06122589111328,21.54353904724121,234.4998016357422
2010-05-24,23.505752563476562,95.31826782226562,21.086029052734375,237.03829956054688
2010-05-25,23.35906410217285,95.37189483642578,20.925493240356445,236.99359130859375

In [34]:
import pandas as pd
df=pd.read_csv('Yahoo_stock_data.csv',names=['Date','Apple','IBM','Microsoft','Google'])

In [35]:
df.drop(index=0,inplace=True)

In [36]:
df.to_csv('price_data.csv')

In [37]:
df.drop(index=list(range(21,100)),inplace=True)

In [38]:
df

,Date,Apple,IBM,Microsoft,Google
1,2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
2,2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
3,2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
4,2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
5,2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
6,2010-01-08,20.19270133972168,99.26509094238281,24.38514518737793,299.06488037109375
7,2010-01-11,20.014568328857422,98.22577667236328,24.074966430664062,298.6128234863281
8,2010-01-12,19.786903381347656,99.00715637207031,23.915895462036133,293.3321533203125
9,2010-01-13,20.06600570678711,98.79474639892578,24.138591766357422,291.6481018066406
10,2010-01-14,19.949796676635742,100.37267303466797,24.623754501342773,293.0191955566406
11,2010-01-15,19.616390228271484,99.97058868408203,24.544212341308594,288.1260070800781
12,2010-01-19,20.48418617248535,101.76091766357422,24.735103607177734,291.9114074707031
13,2010-01-20,20.16888999938965,98.80992889404297,24.3294734954834,288.3296813964844
14,2010-01-21,19.820241928100586,97.86164855957031,23.868181228637695,289.60638427734375
15,2010-01-22,18.83718490600586,95.20650482177734,23.03307342529297,273.2279052734375
16,2010-01-25,19.343957901000977,95.67683410644531,23.31939697265625,268.2552490234375
17,2010-01-26,19.617345809936523,95.39615631103516,23.462553024291992,269.4574279785156
18,2010-01-27,19.802146911621094,95.83614349365234,23.597768783569336,269.2984619140625
19,2010-01-28,18.983882904052734,93.87890625,23.192134857177734,265.418701171875
20,2010-01-29,18.295169830322266,92.84717559814453,22.412704467773438,263.25775146484375
100,2010-05-25,23.35906410217285,95.37189483642578,20.925493240356445,236.99359130859375

In [44]:
df.index=range(len(df))

In [45]:
df

,Date,Apple,IBM,Microsoft,Google
0,2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
1,2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
2,2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
3,2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
4,2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
5,2010-01-08,20.19270133972168,99.26509094238281,24.38514518737793,299.06488037109375
6,2010-01-11,20.014568328857422,98.22577667236328,24.074966430664062,298.6128234863281
7,2010-01-12,19.786903381347656,99.00715637207031,23.915895462036133,293.3321533203125
8,2010-01-13,20.06600570678711,98.79474639892578,24.138591766357422,291.6481018066406
9,2010-01-14,19.949796676635742,100.37267303466797,24.623754501342773,293.0191955566406
10,2010-01-15,19.616390228271484,99.97058868408203,24.544212341308594,288.1260070800781
11,2010-01-19,20.48418617248535,101.76091766357422,24.735103607177734,291.9114074707031
12,2010-01-20,20.16888999938965,98.80992889404297,24.3294734954834,288.3296813964844
13,2010-01-21,19.820241928100586,97.86164855957031,23.868181228637695,289.60638427734375
14,2010-01-22,18.83718490600586,95.20650482177734,23.03307342529297,273.2279052734375
15,2010-01-25,19.343957901000977,95.67683410644531,23.31939697265625,268.2552490234375
16,2010-01-26,19.617345809936523,95.39615631103516,23.462553024291992,269.4574279785156
17,2010-01-27,19.802146911621094,95.83614349365234,23.597768783569336,269.2984619140625
18,2010-01-28,18.983882904052734,93.87890625,23.192134857177734,265.418701171875
19,2010-01-29,18.295169830322266,92.84717559814453,22.412704467773438,263.25775146484375
20,2010-05-25,23.35906410217285,95.37189483642578,20.925493240356445,236.99359130859375

In [52]:
pd.read_csv('price_data.csv',skiprows=list(range(10)))

,10,2010-01-14,19.949796676635742,100.37267303466797,24.623754501342773,293.0191955566406
0,11,2010-01-15,19.616390,99.970589,24.544212,288.126007
1,12,2010-01-19,20.484186,101.760918,24.735104,291.911407
2,13,2010-01-20,20.168890,98.809929,24.329473,288.329681
3,14,2010-01-21,19.820242,97.861649,23.868181,289.606384
4,15,2010-01-22,18.837185,95.206505,23.033073,273.227905
5,16,2010-01-25,19.343958,95.676834,23.319397,268.255249
6,17,2010-01-26,19.617346,95.396156,23.462553,269.457428
7,18,2010-01-27,19.802147,95.836143,23.597769,269.298462
8,19,2010-01-28,18.983883,93.878906,23.192135,265.418701
9,20,2010-01-29,18.295170,92.847176,22.412704,263.257751
10,21,2010-02-01,18.549507,94.576828,22.595629,264.787811
11,22,2010-02-02,18.657150,95.229240,22.635405,263.843964
12,23,2010-02-03,18.978167,95.327866,22.770605,268.662598
13,24,2010-02-04,18.294220,93.309929,22.142290,261.687958
14,25,2010-02-05,18.619045,93.704422,22.285454,263.928406
15,26,2010-02-08,18.491404,92.873825,22.046848,265.011353
16,27,2010-02-09,18.688580,93.887291,22.277498,266.486755
17,28,2010-02-10,18.586657,93.582497,22.261591,265.498199
18,29,2010-02-11,18.924822,94.283569,22.364988,266.466888
19,30,2010-02-12,19.087709,94.489265,22.213871,264.837494
20,31,2010-02-16,19.375387,95.426559,22.653355,268.901062
21,32,2010-02-17,19.294420,96.264778,22.845131,267.366028
22,33,2010-02-18,19.330620,97.392548,23.148769,269.854858
23,34,2010-02-19,19.210594,96.920105,22.988953,268.632812
24,35,2010-02-22,19.091524,96.661018,22.956991,269.646210
25,36,2010-02-23,18.771461,96.363838,22.637369,265.806183
26,37,2010-02-24,19.114389,97.224907,22.877089,264.017822
27,38,2010-02-25,19.242027,96.828682,22.853115,261.514099
28,39,2010-02-26,19.491606,96.897232,22.909052,261.697906
29,40,2010-03-01,19.907879,97.971680,23.188726,264.623871
...,...,...,...,...,...,...
60,71,2010-04-14,23.403833,100.013885,24.627035,292.596924
61,72,2010-04-15,23.711519,99.739540,24.666983,295.726593
62,73,2010-04-16,23.566721,99.541443,24.507175,273.297455
63,74,2010-04-19,23.535286,100.760628,24.802820,273.272614
64,75,2010-04-20,23.299051,98.825127,25.058521,275.726654
65,76,2010-04-21,24.692673,98.291718,25.034548,275.359070
66,77,2010-04-22,25.383286,98.398415,25.082495,271.762451
67,78,2010-04-23,25.798603,99.053726,24.738905,270.734131
68,79,2010-04-26,25.671917,99.617615,24.858755,264.102264
69,80,2010-04-27,24.961296,98.162178,24.651001,262.820618
70,81,2010-04-28,24.919382,99.137573,24.698944,262.885193
71,82,2010-04-29,25.589996,99.411888,24.770861,264.281097
72,83,2010-04-30,24.870800,98.299347,24.403294,261.151459
73,84,2010-05-03,25.371853,98.756538,24.658993,263.585632
74,85,2010-05-04,24.641228,97.628777,24.075682,251.548920
75,86,2010-05-05,24.384991,97.125847,23.851942,253.232971
76,87,2010-05-06,23.457174,94.912354,23.156761,247.723801
77,88,2010-05-07,22.467453,93.518372,22.541483,244.976669
78,89,2010-05-10,24.194466,96.712234,23.124798,259.139557
79,90,2010-05-11,24.435472,97.187119,23.076849,252.880264
80,91,2010-05-12,24.966059,101.621780,23.524330,251.062088
81,92,2010-05-13,24.610743,100.702675,23.364517,253.789352
82,93,2010-05-14,24.178280,100.480591,23.116808,252.125168
83,94,2010-05-17,24.216379,99.906151,23.124798,252.343750
84,95,2010-05-18,24.039202,99.530823,22.956236,247.574768
85,96,2010-05-19,23.656267,98.695999,22.667269,245.617493
86,97,2010-05-20,22.648441,94.820450,21.760265,235.970245
87,98,2010-05-21,23.082817,96.061226,21.543539,234.499802
88,99,2010-05-24,23.505753,95.318268,21.086029,237.038300
89,100,2010-05-25,23.359064,95.371895,20.925493,236.993591

In [53]:
pd.isnull(df)

     Date  Apple    IBM  Microsoft  Google
0   False  False  False      False   False
1   False  False  False      False   False
2   False  False  False      False   False
3   False  False  False      False   False
4   False  False  False      False   False
5   False  False  False      False   False
6   False  False  False      False   False
7   False  False  False      False   False
8   False  False  False      False   False
9   False  False  False      False   False
10  False  False  False      False   False
11  False  False  False      False   False
12  False  False  False      False   False
13  False  False  False      False   False
14  False  False  False      False   False
15  False  False  False      False   False
16  False  False  False      False   False
17  False  False  False      False   False
18  False  False  False      False   False
19  False  False  False      False   False
20  False  False  False      False   False

In [54]:
pd.options.display.max_rows=10

,Date,Apple,IBM,Microsoft,Google
0,2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
1,2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
2,2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
3,2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
4,2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
...,...,...,...,...,...
16,2010-01-26,19.617345809936523,95.39615631103516,23.462553024291992,269.4574279785156
17,2010-01-27,19.802146911621094,95.83614349365234,23.597768783569336,269.2984619140625
18,2010-01-28,18.983882904052734,93.87890625,23.192134857177734,265.418701171875
19,2010-01-29,18.295169830322266,92.84717559814453,22.412704467773438,263.25775146484375
20,2010-05-25,23.35906410217285,95.37189483642578,20.925493240356445,236.99359130859375

In [56]:
pd.read_csv('price_data.csv',nrows=5)

   Unnamed: 0        Date      Apple         IBM  Microsoft      Google
0           1  2009-12-31  20.073631   99.303009  24.241983  307.986847
1           2  2010-01-04  20.386072  100.478867  24.615801  311.349976
2           3  2010-01-05  20.421322   99.265091  24.623755  309.978882
3           4  2010-01-06  20.096491   98.620255  24.472631  302.164703
4           5  2010-01-07  20.059338   98.278870  24.218124  295.130463

In [57]:
chunk=pd.read_csv('price_data.csv',chunksize=100)

In [58]:
chunk

In [68]:
df

,Date,Apple,IBM,Microsoft,Google
0,2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
1,2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
2,2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
3,2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
4,2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
...,...,...,...,...,...
16,2010-01-26,19.617345809936523,95.39615631103516,23.462553024291992,269.4574279785156
17,2010-01-27,19.802146911621094,95.83614349365234,23.597768783569336,269.2984619140625
18,2010-01-28,18.983882904052734,93.87890625,23.192134857177734,265.418701171875
19,2010-01-29,18.295169830322266,92.84717559814453,22.412704467773438,263.25775146484375
20,2010-05-25,23.35906410217285,95.37189483642578,20.925493240356445,236.99359130859375

In [84]:
df.describe(exclude='Date')

TypeError: data type "Date" not understood

In [85]:
df.drop(index=list(range(len(df))[10:]),inplace=True)

In [76]:
df

,Date,Apple,IBM,Microsoft,Google
0,2009-12-31,20.073631286621094,99.30300903320312,24.24198341369629,307.9868469238281
1,2010-01-04,20.386072158813477,100.47886657714844,24.615800857543945,311.3499755859375
2,2010-01-05,20.421321868896484,99.26509094238281,24.623754501342773,309.9788818359375
3,2010-01-06,20.09649085998535,98.62025451660156,24.472631454467773,302.1647033691406
4,2010-01-07,20.059337615966797,98.27886962890625,24.218124389648438,295.1304626464844
5,2010-01-08,20.19270133972168,99.26509094238281,24.38514518737793,299.06488037109375
6,2010-01-11,20.014568328857422,98.22577667236328,24.074966430664062,298.6128234863281
7,2010-01-12,19.786903381347656,99.00715637207031,23.915895462036133,293.3321533203125
8,2010-01-13,20.06600570678711,98.79474639892578,24.138591766357422,291.6481018066406
9,2010-01-14,19.949796676635742,100.37267303466797,24.623754501342773,293.0191955566406

In [83]:
df.describe

<bound method NDFrame.describe of          Date               Apple                 IBM           Microsoft  \
0  2009-12-31  20.073631286621094   99.30300903320312   24.24198341369629
1  2010-01-04  20.386072158813477  100.47886657714844  24.615800857543945
2  2010-01-05  20.421321868896484   99.26509094238281  24.623754501342773
3  2010-01-06   20.09649085998535   98.62025451660156  24.472631454467773
4  2010-01-07  20.059337615966797   98.27886962890625  24.218124389648438
5  2010-01-08   20.19270133972168   99.26509094238281   24.38514518737793
6  2010-01-11  20.014568328857422   98.22577667236328  24.074966430664062
7  2010-01-12  19.786903381347656   99.00715637207031  23.915895462036133
8  2010-01-13   20.06600570678711   98.79474639892578  24.138591766357422
9  2010-01-14  19.949796676635742  100.37267303466797  24.623754501342773

               Google
0   307.9868469238281
1   311.3499755859375
2   309.9788818359375
3   302.1647033691406
4   295.1304626464844
5  299.06488037109375
6   298.6128234863281
7   293.3321533203125
8   291.6481018066406
9   293.0191955566406  >

In [93]:
import numpy as np
df1=pd.DataFrame({'price':[1,2,3,4,5],'value':[12,20,30,40,50]},index=list('abcde'))

In [94]:
df1

   price  value
a      1     12
b      2     20
c      3     30
d      4     40
e      5     50

In [95]:
df1.describe()

TypeError: 'list' object is not callable

In [1]:
df

NameError: name 'df' is not defined

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('price_data.csv',nrows=10)

In [4]:
df

   Unnamed: 0        Date      Apple         IBM  Microsoft      Google
0           1  2009-12-31  20.073631   99.303009  24.241983  307.986847
1           2  2010-01-04  20.386072  100.478867  24.615801  311.349976
2           3  2010-01-05  20.421322   99.265091  24.623755  309.978882
3           4  2010-01-06  20.096491   98.620255  24.472631  302.164703
4           5  2010-01-07  20.059338   98.278870  24.218124  295.130463
5           6  2010-01-08  20.192701   99.265091  24.385145  299.064880
6           7  2010-01-11  20.014568   98.225777  24.074966  298.612823
7           8  2010-01-12  19.786903   99.007156  23.915895  293.332153
8           9  2010-01-13  20.066006   98.794746  24.138592  291.648102
9          10  2010-01-14  19.949797  100.372673  24.623755  293.019196

In [5]:
df.describe()

       Unnamed: 0      Apple         IBM  Microsoft      Google
count    10.00000  10.000000   10.000000  10.000000   10.000000
mean      5.50000  20.104683   99.161153  24.331065  300.228802
std       3.02765   0.189990    0.770986   0.251896    7.347027
min       1.00000  19.786903   98.225777  23.915895  291.648102
25%       3.25000  20.025761   98.663877  24.158475  293.781731
50%       5.50000  20.069818   99.136124  24.313564  298.838852
75%       7.75000  20.168649   99.293530  24.580009  306.531311
max      10.00000  20.421322  100.478867  24.623755  311.349976

In [13]:
date=pd.date_range('2009/12/2',periods=8)

In [11]:
pd.Series(date,index=range(len(date)))

0   2009-12-12
1   2009-12-13
2   2009-12-14
3   2009-12-15
4   2009-12-16
5   2009-12-17
6   2009-12-18
7   2009-12-19
dtype: datetime64[ns]

##### Binary Data Formats

In [14]:
df

   Unnamed: 0        Date      Apple         IBM  Microsoft      Google
0           1  2009-12-31  20.073631   99.303009  24.241983  307.986847
1           2  2010-01-04  20.386072  100.478867  24.615801  311.349976
2           3  2010-01-05  20.421322   99.265091  24.623755  309.978882
3           4  2010-01-06  20.096491   98.620255  24.472631  302.164703
4           5  2010-01-07  20.059338   98.278870  24.218124  295.130463
5           6  2010-01-08  20.192701   99.265091  24.385145  299.064880
6           7  2010-01-11  20.014568   98.225777  24.074966  298.612823
7           8  2010-01-12  19.786903   99.007156  23.915895  293.332153
8           9  2010-01-13  20.066006   98.794746  24.138592  291.648102
9          10  2010-01-14  19.949797  100.372673  24.623755  293.019196

In [17]:
df.drop(columns='Unnamed: 0', inplace=True)

In [18]:
df

         Date      Apple         IBM  Microsoft      Google
0  2009-12-31  20.073631   99.303009  24.241983  307.986847
1  2010-01-04  20.386072  100.478867  24.615801  311.349976
2  2010-01-05  20.421322   99.265091  24.623755  309.978882
3  2010-01-06  20.096491   98.620255  24.472631  302.164703
4  2010-01-07  20.059338   98.278870  24.218124  295.130463
5  2010-01-08  20.192701   99.265091  24.385145  299.064880
6  2010-01-11  20.014568   98.225777  24.074966  298.612823
7  2010-01-12  19.786903   99.007156  23.915895  293.332153
8  2010-01-13  20.066006   98.794746  24.138592  291.648102
9  2010-01-14  19.949797  100.372673  24.623755  293.019196

In [19]:
df.to_pickle('pickled_binary_data')

In [20]:
pd.read_pickle('pickled_binary_data')

         Date      Apple         IBM  Microsoft      Google
0  2009-12-31  20.073631   99.303009  24.241983  307.986847
1  2010-01-04  20.386072  100.478867  24.615801  311.349976
2  2010-01-05  20.421322   99.265091  24.623755  309.978882
3  2010-01-06  20.096491   98.620255  24.472631  302.164703
4  2010-01-07  20.059338   98.278870  24.218124  295.130463
5  2010-01-08  20.192701   99.265091  24.385145  299.064880
6  2010-01-11  20.014568   98.225777  24.074966  298.612823
7  2010-01-12  19.786903   99.007156  23.915895  293.332153
8  2010-01-13  20.066006   98.794746  24.138592  291.648102
9  2010-01-14  19.949797  100.372673  24.623755  293.019196

pickle is only recommended as a short-term storage format. The
problem is that it is hard to guarantee that the format will be stable
over time; an object pickled today may not unpickle with a later
version of a library. We have tried to maintain backward compatiâ€
bility when possible, but at some point in the future it may be necâ€
essary to â€œbreakâ€ the pickle format.

#### HDF5 format

Each HDF5 file can store multiple datasets and supportâ€
ing metadata. Compared with simpler formats, HDF5 supports on-the-fly compresâ€
sion with a variety of compression modes, enabling data with repeated patterns to be
stored more efficiently. HDF5 can be a good choice for working with very large dataâ€
sets that donâ€™t fit into memory, as you can efficiently read and write small sections of
much larger arrays.

In [21]:
store=pd.HDFStore('mydata.h5')

In [23]:
store['obj1']=df

In [24]:
store['objcolumn']=df['IBM']

In [25]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [26]:
store['obj1']

         Date      Apple         IBM  Microsoft      Google
0  2009-12-31  20.073631   99.303009  24.241983  307.986847
1  2010-01-04  20.386072  100.478867  24.615801  311.349976
2  2010-01-05  20.421322   99.265091  24.623755  309.978882
3  2010-01-06  20.096491   98.620255  24.472631  302.164703
4  2010-01-07  20.059338   98.278870  24.218124  295.130463
5  2010-01-08  20.192701   99.265091  24.385145  299.064880
6  2010-01-11  20.014568   98.225777  24.074966  298.612823
7  2010-01-12  19.786903   99.007156  23.915895  293.332153
8  2010-01-13  20.066006   98.794746  24.138592  291.648102
9  2010-01-14  19.949797  100.372673  24.623755  293.019196

In [27]:
store['objcolumn']

0     99.303009
1    100.478867
2     99.265091
3     98.620255
4     98.278870
5     99.265091
6     98.225777
7     99.007156
8     98.794746
9    100.372673
Name: IBM, dtype: float64

HDFStore supports two storage schemas, 'fixed' and 'table' . The latter is generally
slower, but it supports query operations using a special syntax:

In [29]:
store.put('obj2',df,format='table')

In [30]:
store.select('obj2',where=['index>=5 and index<=8'])

         Date      Apple        IBM  Microsoft      Google
5  2010-01-08  20.192701  99.265091  24.385145  299.064880
6  2010-01-11  20.014568  98.225777  24.074966  298.612823
7  2010-01-12  19.786903  99.007156  23.915895  293.332153
8  2010-01-13  20.066006  98.794746  24.138592  291.648102

In [31]:
store['obj2']

         Date      Apple         IBM  Microsoft      Google
0  2009-12-31  20.073631   99.303009  24.241983  307.986847
1  2010-01-04  20.386072  100.478867  24.615801  311.349976
2  2010-01-05  20.421322   99.265091  24.623755  309.978882
3  2010-01-06  20.096491   98.620255  24.472631  302.164703
4  2010-01-07  20.059338   98.278870  24.218124  295.130463
5  2010-01-08  20.192701   99.265091  24.385145  299.064880
6  2010-01-11  20.014568   98.225777  24.074966  298.612823
7  2010-01-12  19.786903   99.007156  23.915895  293.332153
8  2010-01-13  20.066006   98.794746  24.138592  291.648102
9  2010-01-14  19.949797  100.372673  24.623755  293.019196

In [32]:
store['obj1']+store['obj2']

                   Date      Apple         IBM  Microsoft      Google
0  2009-12-312009-12-31  40.147263  198.606018  48.483967  615.973694
1  2010-01-042010-01-04  40.772144  200.957733  49.231602  622.699951
2  2010-01-052010-01-05  40.842644  198.530182  49.247509  619.957764
3  2010-01-062010-01-06  40.192982  197.240509  48.945263  604.329407
4  2010-01-072010-01-07  40.118675  196.557739  48.436249  590.260925
5  2010-01-082010-01-08  40.385403  198.530182  48.770290  598.129761
6  2010-01-112010-01-11  40.029137  196.451553  48.149933  597.225647
7  2010-01-122010-01-12  39.573807  198.014313  47.831791  586.664307
8  2010-01-132010-01-13  40.132011  197.589493  48.277184  583.296204
9  2010-01-142010-01-14  39.899593  200.745346  49.247509  586.038391

In [33]:
store.close()

The pandas.read_hdf function gives you a shortcut to these tools:

In [35]:
df.to_hdf('mydata2.h5','obj3',format='table')

In [37]:
pd.read_hdf('mydata2.h5','obj3',where=['index>2 and index<7'])

         Date      Apple        IBM  Microsoft      Google
3  2010-01-06  20.096491  98.620255  24.472631  302.164703
4  2010-01-07  20.059338  98.278870  24.218124  295.130463
5  2010-01-08  20.192701  99.265091  24.385145  299.064880
6  2010-01-11  20.014568  98.225777  24.074966  298.612823

HDF5 is not a database. It is best suited for write-once, read-many
datasets. While data can be added to a file at any time, if multiple
writers do so simultaneously, the file can become corrupted.

### Interacting with Web APIs

Many websites have public APIs providing data feeds via JSON or some other format.
There are a number of ways to access these APIs from Python; one easy-to-use
method that I recommend is the requests package.

In [38]:
import requests

In [39]:
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)

In [40]:
resp

In [42]:
data=resp.json()

In [43]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26321',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26321/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26321/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26321/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/26321',
  'id': 442032769,
  'node_id': 'MDU6SXNzdWU0NDIwMzI3Njk=',
  'number': 26321,
  'title': 'Bug: Groupby with as_index=True causes incorrect summarization',
  'user': {'login': 'cdknox',
   'id': 26149009,
   'node_id': 'MDQ6VXNlcjI2MTQ5MDA5',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/26149009?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/cdknox',
   'html_url': 'https://github.com/cdknox',
   'followers_url': 'https://api.github.com/users/cdknox/followers',
   'following_url': 'https://api.github.com/users/cdknox/following{/other_user}',
   'gists_url': 'https://api.github.com/users/cdknox/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/cdknox/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/cdknox/subscriptions',
   'organizations_url': 'https://api.github.com/users/cdknox/orgs',
   'repos_url': 'https://api.github.com/users/cdknox/repos',
   'events_url': 'https://api.github.com/users/cdknox/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/cdknox/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-05-09T03:28:12Z',
  'updated_at': '2019-05-09T04:06:29Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "#### Code Sample, a copy-pastable example:\r\n\r\n```python\r\nimport pandas as pd\r\nimport numpy as np\r\n\r\npd.show_versions()\r\n\r\ndates = ['2019-05-09', '2019-05-09', '2019-05-09']\r\ndate_series = pd.Series(dates)\r\n# it appears to happen on object dtype aggregations\r\n# where there is another object dtype in the frame with missing values\r\n# hence column 'a' being populated with strings\r\n# and missing and the dt.date accessor in 'c'\r\ndate_series_parsed = pd.to_datetime(date_series, format='%Y-%m-%d').dt.date\r\n\r\ndf = pd.DataFrame({\r\n    'a': [np.nan, '1', np.nan],\r\n    'b': [0, 1, 1],\r\n    'c': date_series_parsed,\r\n})  \r\n\r\n# as expected the series values returned are each populated with non missing data\r\n# I'm ignoring that this is returning a Series\r\n# and the other method returns a DataFrame\r\n# the logic is my real concern\r\nprint(df.groupby('b')['c'].min())\r\n# output (as is and as expected):\r\n# b\r\n# 0    2019-05-09\r\n# 1    2019-05-09\r\n# Name: c, dtype: object\r\n \r\n\r\n# looks like it's dependent on column 'a' being fully populated for some reason\r\n# as the group df['b'] == 1 min value is not returned appropriately here\r\n# but the group df['b'] == 0 min value does appear to be working\r\nprint(df.groupby('b', as_index=False)['c'].min())\r\n# output (as is):\r\n#    b           c\r\n# 0  0  2019-05-09\r\n# 1  1         NaN\r\n# \r\n# output (as expected):\r\n#    b           c \r\n# 0  0  2019-05-09\r\n# 1  1  2019-05-09\r\n```\r\n#### Problem description\r\n\r\nAs there is no missing value in column 'c', I would expect that every subgroup of the series would have the minimum as being well defined and non-missing.  This is consistent with the behavior shown when as_index in the groupby method is left as it's default parameter of False.  However it can clearly be seen that the minimum of column 'c' depends on column 'a' in some capacity.  It appears as though at some point in time the indexing is looking to column 'a' instead of column 'c' though I'm not sure why or when.\r\n\r\nI have tested this both on the version of pandas available on PyPI (0.24.2 as of the time of writing) and through the pandas-dev master branch.  The issue persists regardless of versions.  Furthermore the issue has been experienced on a variety of machines.\r\n\r\n\r\n#### Expected Output\r\n\r\nI would expect the results to be consistent with the calculation performed when as_index is left as it's default value of False, as it seems that the minimum of the values which comprise the group where column b is equal to 1 is a well defined result (explicitly 2019-05-09).\r\n\r\nThank you for the consideration!\r\n\r\n#### Output of ``pd.show_versions()``\r\nNote: I ran this on the master branch, and 0.24.2, the below is the output from the master branch.  If this is insufficient please let me know and I will supplement with the PyPI version of 0.24.2 when able.\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.7.2.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 5.0.4-arch1-1-ARCH\r\nmachine: x86_64\r\nprocessor: \r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: C\r\nLOCALE: None.None\r\n\r\npandas: 0+unknown\r\npytest: None\r\npip: 18.1\r\nsetuptools: 40.8.0\r\nCython: 0.29.7\r\nnumpy: 1.16.1\r\nscipy: 1.2.1\r\npyarrow: None\r\nxarray: None\r\nIPython: 7.2.0\r\nsphinx: None\r\npatsy: None\r\ndateutil: 2.8.0\r\npytz: 2018.9\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: None\r\nfeather: None\r\nmatplotlib: 3.0.3\r\nopenpyxl: 2.6.1\r\nxlrd: 1.2.0\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml.etree: 4.3.2\r\nbs4: None\r\nhtml5lib: 1.0.1\r\nsqlalchemy: None\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.10\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\ngcsfs: None\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26320',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26320/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26320/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26320/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/26320',
  'id': 441899956,
  'node_id': 'MDU6SXNzdWU0NDE4OTk5NTY=',
  'number': 26320,
  'title': '__or__ (and others?) should return NotImplemented for custom classes',
  'user': {'login': 'adamklein',
   'id': 869232,
   'node_id': 'MDQ6VXNlcjg2OTIzMg==',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/869232?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/adamklein',
   'html_url': 'https://github.com/adamklein',
   'followers_url': 'https://api.github.com/users/adamklein/followers',
   'following_url': 'https://api.github.com/users/adamklein/following{/other_user}',
   'gists_url': 'https://api.github.com/users/adamklein/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/adamklein/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/adamklein/subscriptions',
   'organizations_url': 'https://api.github.com/users/adamklein/orgs',
   'repos_url': 'https://api.github.com/users/adamklein/repos',
   'events_url': 'https://api.github.com/users/adamklein/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/adamklein/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 35818298,
    'node_id': 'MDU6TGFiZWwzNTgxODI5OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design',
    'name': 'API Design',
    'color': 'AD7FA8',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-05-08T19:44:41Z',
  'updated_at': '2019-05-08T22:48:04Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nIn [1]: class Test:\r\n   ...:     def __ror__(self, other):\r\n   ...:         print('here')\r\n   ...:         return self\r\n   ...: \r\n\r\nIn [2]: {} | Test()\r\nhere\r\nOut[2]: <__main__.Test at 0x7f37a1601ba8>\r\n\r\nIn [3]: import pandas\r\n\r\nIn [4]: pandas.DataFrame() | Test()\r\nOut[4]: \r\nEmpty DataFrame\r\nColumns: []\r\nIndex: []\r\n```\r\n#### Problem description\r\n\r\nI would expect DataFrame to return `NotImplemented` in this case, so we can properly delegate to `__ror__`.\r\n\r\n#### Expected Output\r\n\r\n```\r\nOut[3]: <__main__.Test at 0x7f37a1601ba8>\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nIn [4]: pd.show_versions()\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.6.6.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 4.14.67-ts1\r\nmachine: x86_64\r\nprocessor: \r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: en_US.utf8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.24.2\r\npytest: 4.4.1\r\npip: 19.0.3\r\nsetuptools: 40.8.0\r\nCython: 0.29.6\r\nnumpy: 1.15.4\r\nscipy: 1.2.1\r\npyarrow: 0.11.1\r\nxarray: None\r\nIPython: 7.4.0\r\nsphinx: 2.0.1\r\npatsy: 0.5.1\r\ndateutil: 2.8.0\r\npytz: 2018.9\r\nblosc: None\r\nbottleneck: None\r\ntables: 3.5.1\r\nnumexpr: 2.6.9\r\nfeather: None\r\nmatplotlib: 3.0.3\r\nopenpyxl: None\r\nxlrd: None\r\nxlwt: None\r\nxlsxwriter: 1.1.5\r\nlxml.etree: None\r\nbs4: 4.7.1\r\nhtml5lib: None\r\nsqlalchemy: None\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.10\r\ns3fs: 0.2.0\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\ngcsfs: None\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26319',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26319/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26319/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26319/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26319',
  'id': 441798290,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc3MDQ3ODQz',
  'number': 26319,
  'title': 'CLN: remove compat.lrange, part 3',
  'user': {'login': 'topper-123',
   'id': 26364415,
   'node_id': 'MDQ6VXNlcjI2MzY0NDE1',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/26364415?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/topper-123',
   'html_url': 'https://github.com/topper-123',
   'followers_url': 'https://api.github.com/users/topper-123/followers',
   'following_url': 'https://api.github.com/users/topper-123/following{/other_user}',
   'gists_url': 'https://api.github.com/users/topper-123/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/topper-123/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/topper-123/subscriptions',
   'organizations_url': 'https://api.github.com/users/topper-123/orgs',
   'repos_url': 'https://api.github.com/users/topper-123/repos',
   'events_url': 'https://api.github.com/users/topper-123/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/topper-123/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 49747336,
    'node_id': 'MDU6TGFiZWw0OTc0NzMzNg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/2/3%20Compat',
    'name': '2/3 Compat',
    'color': 'c7eef8',
    'default': False},
   {'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 3,
  'created_at': '2019-05-08T15:34:45Z',
  'updated_at': '2019-05-08T20:33:25Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26319',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26319',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26319.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26319.patch'},
  'body': '- [x] xref #25725, #26281 & #26289\r\n\r\nThird part of the removal of ``compat.lrange`` from the code base.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26316',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26316/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26316/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26316/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26316',
  'id': 441697121,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc2OTY3Nzgy',
  'number': 26316,
  'title': '[ENH] Use default EA repr for IntervalArray',
  'user': {'login': 'makbigc',
   'id': 14367887,
   'node_id': 'MDQ6VXNlcjE0MzY3ODg3',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/14367887?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/makbigc',
   'html_url': 'https://github.com/makbigc',
   'followers_url': 'https://api.github.com/users/makbigc/followers',
   'following_url': 'https://api.github.com/users/makbigc/following{/other_user}',
   'gists_url': 'https://api.github.com/users/makbigc/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/makbigc/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/makbigc/subscriptions',
   'organizations_url': 'https://api.github.com/users/makbigc/orgs',
   'repos_url': 'https://api.github.com/users/makbigc/repos',
   'events_url': 'https://api.github.com/users/makbigc/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/makbigc/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 849023693,
    'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray',
    'name': 'ExtensionArray',
    'color': '6138b5',
    'default': False},
   {'id': 150096370,
    'node_id': 'MDU6TGFiZWwxNTAwOTYzNzA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Interval',
    'name': 'Interval',
    'color': '009800',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 3,
  'created_at': '2019-05-08T11:55:19Z',
  'updated_at': '2019-05-08T18:28:15Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26316',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26316',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26316.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26316.patch'},
  'body': '- [x] closes #25022\r\n- [x] 1 test deleted\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26315',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26315/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26315/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26315/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26315',
  'id': 441680417,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc2OTU0ODc5',
  'number': 26315,
  'title': 'Remove other pandas.core.index files from MyPy Blacklist ',
  'user': {'login': 'makbigc',
   'id': 14367887,
   'node_id': 'MDQ6VXNlcjE0MzY3ODg3',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/14367887?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/makbigc',
   'html_url': 'https://github.com/makbigc',
   'followers_url': 'https://api.github.com/users/makbigc/followers',
   'following_url': 'https://api.github.com/users/makbigc/following{/other_user}',
   'gists_url': 'https://api.github.com/users/makbigc/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/makbigc/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/makbigc/subscriptions',
   'organizations_url': 'https://api.github.com/users/makbigc/orgs',
   'repos_url': 'https://api.github.com/users/makbigc/repos',
   'events_url': 'https://api.github.com/users/makbigc/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/makbigc/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1280988427,
    'node_id': 'MDU6TGFiZWwxMjgwOTg4NDI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Typing',
    'name': 'Typing',
    'color': 'ea91a4',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2019-05-08T11:11:20Z',
  'updated_at': '2019-05-08T15:03:47Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26315',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26315',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26315.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26315.patch'},
  'body': '- [x] closes one issue of #25882\r\n- [ ] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26314',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26314/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26314/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26314/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/26314',
  'id': 441643259,
  'node_id': 'MDU6SXNzdWU0NDE2NDMyNTk=',
  'number': 26314,
  'title': 'Pivot / unstack on large data frame does not work int32 overflow',
  'user': {'login': 'MarkiesFredje',
   'id': 28642372,
   'node_id': 'MDQ6VXNlcjI4NjQyMzcy',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/28642372?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/MarkiesFredje',
   'html_url': 'https://github.com/MarkiesFredje',
   'followers_url': 'https://api.github.com/users/MarkiesFredje/followers',
   'following_url': 'https://api.github.com/users/MarkiesFredje/following{/other_user}',
   'gists_url': 'https://api.github.com/users/MarkiesFredje/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/MarkiesFredje/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/MarkiesFredje/subscriptions',
   'organizations_url': 'https://api.github.com/users/MarkiesFredje/orgs',
   'repos_url': 'https://api.github.com/users/MarkiesFredje/repos',
   'events_url': 'https://api.github.com/users/MarkiesFredje/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/MarkiesFredje/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 47223669,
    'node_id': 'MDU6TGFiZWw0NzIyMzY2OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Numeric',
    'name': 'Numeric',
    'color': '006b75',
    'default': False},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 7,
  'created_at': '2019-05-08T09:39:49Z',

In [46]:
data[0]['title']

'Bug: Groupby with as_index=True causes incorrect summarization'

In [47]:
issues=pd.DataFrame(data,columns=['title','number','user','id'])

In [48]:
issues

,title,number,user,id
0,Bug: Groupby with as_index=True causes incorre...,26321,"{'login': 'cdknox', 'id': 26149009, 'node_id':...",442032769
1,__or__ (and others?) should return NotImplemen...,26320,"{'login': 'adamklein', 'id': 869232, 'node_id'...",441899956
2,"CLN: remove compat.lrange, part 3",26319,"{'login': 'topper-123', 'id': 26364415, 'node_...",441798290
3,[ENH] Use default EA repr for IntervalArray,26316,"{'login': 'makbigc', 'id': 14367887, 'node_id'...",441697121
4,Remove other pandas.core.index files from MyPy...,26315,"{'login': 'makbigc', 'id': 14367887, 'node_id'...",441680417
5,Pivot / unstack on large data frame does not w...,26314,"{'login': 'MarkiesFredje', 'id': 28642372, 'no...",441643259
6,Added Hypothesis property-based test for timed...,26312,"{'login': 'c74p', 'id': 41354105, 'node_id': '...",441465385
7,"groupby.agg (first, last, min, etc...) returns...",26310,"{'login': 'toliwaga', 'id': 58944, 'node_id': ...",441324728
8,Upsample spline interpolation with smoothing,26309,"{'login': 'tritemio', 'id': 4156237, 'node_id'...",441292742
9,Missing `GL06` and `GL07` errors for invalid d...,26307,"{'login': 'Scowley4', 'id': 32966226, 'node_id...",441250560
10,DOC: Improve links and fix issues on resample ...,26306,"{'login': 'Bharat123rox', 'id': 13381361, 'nod...",441155633
11,MultiIndex DataFrame to_csv() terminates pytho...,26303,"{'login': 'miburk', 'id': 44474807, 'node_id':...",441063408
12,Add Annotations to assert_*_equal functions,26302,"{'login': 'WillAyd', 'id': 609873, 'node_id': ...",440977736
13,Fix type annotations in pandas.core.config_init,26299,"{'login': 'gwrome', 'id': 1430066, 'node_id': ...",440943241
14,BUG-20629 allow .at accessor with CategoricalI...,26298,"{'login': 'JustinZhengBC', 'id': 29615021, 'no...",440878540
15,Changes to major/minor locator on a DateTime i...,26293,"{'login': 'metaswirl', 'id': 1880943, 'node_id...",440728607
16,[BUG] Adding offset with nonzero month to Date...,26292,"{'login': 'makbigc', 'id': 14367887, 'node_id'...",440668379
17,Pandas UTF-8 handling is rubbish,26290,"{'login': 'james-martin-engineer', 'id': 48542...",440554614
18,Sparse DF with time column cannot concat,26288,"{'login': 'ruiann', 'id': 5110107, 'node_id': ...",440531515
19,json_normalize should raise when record_path d...,26284,"{'login': 'Marky0', 'id': 4273841, 'node_id': ...",440458869
20,BUG: Series.combine_first raises ValueError on...,26283,"{'login': 'DomKennedy', 'id': 10784275, 'node_...",440432907
21,BUG: Fix #26210: MultiIndex Sorting with NaNs,26282,"{'login': 'eoincondron', 'id': 9717992, 'node_...",440344877
22,Remove pandas.core.index.datetimelike from MyP...,26280,"{'login': 'makbigc', 'id': 14367887, 'node_id'...",440274429
23,Feature request: easier digit format in to_lat...,26278,"{'login': 'kolibril13', 'id': 44469195, 'node_...",440151367
24,Links on resample documentation page are broken,26275,"{'login': 'larsrinn', 'id': 22575361, 'node_id...",439937202
25,WIP: Maintain Int64 Precision on Construction,26272,"{'login': 'WillAyd', 'id': 609873, 'node_id': ...",439880651
26,Int64Dtype in read_csv leads to unexpected values,26259,"{'login': 'alohr', 'id': 748655, 'node_id': 'M...",439235605
27,Adding offset to DatetimeIndex is broken,26258,"{'login': 'mmamaev', 'id': 26414241, 'node_id'...",439228127
28,DateFormatter('%Y') for x-axis labels gives st...,26253,"{'login': 'davehemming', 'id': 6355796, 'node_...",439056698
29,Some cleanups of merge_asof tests and error code,26249,"{'login': 'chrish42', 'id': 632858, 'node_id':...",438893928

##### Interacting with Databases

Loading data from SQL into a DataFrame is fairly straightforward, and pandas has
some functions to simplify the process. As an example, Iâ€™ll create a SQLite database
using Pythonâ€™s built-in sqlite3 driver:

In [49]:
import sqlite3

In [51]:
query="""
CREATE TABLE test(
a VARCHAR(20),b VARCHAR(20),c REAL, d INTEGER
);
"""

In [52]:
con=sqlite3.connect('mysqldata.sqlite')

In [53]:
con.execute(query)

In [54]:
con.commit()

In [55]:
data=[('Atlanta', 'Georgia', 1.25, 6),('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]

In [56]:
stmt="insert into test Values(?,?,?,?)"
con.executemany(stmt,data)

In [57]:
con.commit()

Most Python SQL drivers (PyODBC, psycopg2, MySQLdb, pymssql, etc.) return a list
of tuples when selecting data from a table:

In [59]:
cursor=con.execute('select * from test')
rows=cursor.fetchall()

In [60]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

You can pass the list of tuples to the DataFrame constructor, but you also need the
column names, contained in the cursorâ€™s description attribute:

In [61]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [63]:
dfsql=pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

In [64]:
dfsql

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

This is quite a bit of munging that youâ€™d rather not repeat each time you query the
database. The SQLAlchemy project is a popular Python SQL toolkit that abstracts
away many of the common differences between SQL databases. pandas has a
read_sql function that enables you to read data easily from a general SQLAlchemy
connection. Here, weâ€™ll connect to the same SQLite database with SQLAlchemy and
read data from the table created before:

In [65]:
import sqlalchemy as sqla

In [66]:
db=sqla.create_engine("sqlite:///mysqldata.sqlite")
pd.read_sql("select * from test",db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5